.Toolbar {
  box-sizing: border-box;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #1890ff;
  position: fixed;
  z-index: 500;
  color: white;
  font-weight: 500;
  align-items: center;
  top: 0;
}

.Toolbar .Input {
  width: 28%;
  text-align: center;
}

.Icon:hover,
.Icon:active,
.Icon:active {
  background-color: #40a9ff;
}
