.TransactionWindow {
    width: 60%;
    border: 1px solid gray;
    margin: 10px auto;
    padding: 16px;
    box-shadow: 0 2px 3px lightgray;
}

@media (min-width: 500px) {
    .TransactionWindow {
        width: 450px;
    }
}