.Transaction {
  width: 40%;
  max-width: 450px;
  min-height: 80px;
  border: 1px solid gray;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 2px 3px lightgray;
}

/* @media (min-width: 1200px) and (min-height: 400px) {
  .Transaction {
    width: 350px;
    height: 300px;
  }
} */
.Input {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.InputRight {
  width: 60%;
}

.InputLeft {
  width: 20%;
}
