.Transaction {
  width: 80%;
  max-width: 450px;
  min-height: 80px;
  border: 1px solid #1890ff;
  border-radius: 15px;
  margin: 0px auto;
  padding: 10px;
  box-shadow: 0 2px 3px #188fffaf;
}

/* @media (min-width: 1200px) and (min-height: 400px) {
  .Transaction {
    width: 350px;
    height: 300px;
  }
} */
.Input {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.InputRight {
  width: 60%;
}

.InputLeft {
  width: 20%;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
