.Transaction {
  width: 98%;
  max-width: 500px;
  min-height: 80px;
  border: 1px solid #1890ff;
  border-radius: 15px;
  margin: 0px auto;
  padding: 10px;
  box-shadow: 0 2px 3px #188fffaf;
}

.Actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.SwitchOptions {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 360px) {
  .Transaction {
    width: 92%;
  }
}

@media (min-width: 361px) {
  .Transaction {
    width: 88%;
  }
}

.Input {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.InputRight {
  width: 60%;
}

.InputLeft {
  width: 20%;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
